// Code
// ----------------------------------------------
// ----------------------------------------------
code {
  font-family: $code-font-family;
}

p code,
ul code {
  padding: 2px $base-point-grid;
  background: $background-code;
  font-family: $code-font-family;
  border-radius: 2px;
}

.highlight pre {
  background: $background-code;
  padding: ($base-point-grid * 3);
  overflow: auto;
  margin-bottom: ($base-point-grid * 2);
}
