// Base
// -----------------------------------------------
// -----------------------------------------------
// Body, html
// -----------------------------------------------
html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

// Typography
// -----------------------------------------------
body {
  display: flex;
  flex-direction: column;
  background: $white;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  font-weight: $font-semibold;
  position: relative;
}

a {
  @include links($link-color, $link-color, $link-color, $link-color);
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  display: block;
  border: none;
}

.title-bold {
  font-weight: $font-bold;
  margin: 0 $base-point-grid;
}
